.card{
    text-align: center;
}

.card--artist{
    font-size: 150px;
    margin: 0;
    letter-spacing: .2ch;
    font-weight: 2000;
}

.card--title{
    font-size: 130px;
    margin: 0;
    font-weight: 500;
    margin-bottom: 100px;
}

.card--lyrics{
    font-size: 100px;
    margin: 0;
    font-weight: 100;
}

.firstLyrics{

}

.secondLyrics{
    font-style: italic;
}