@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body{
    font-family: 'Roboto';
}

.navbar{
    display: flex;
    flex-direction:row;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.navbar>img{
    width: 50px;
}

.navbar>h2{
    padding-left: 5px;
}
.gamemodes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); */
    /* align-items: stretch; */
}
.card{
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 180px;
    padding-left: 5px;
    margin: 5px;
}
.card-presentation{
    min-height: 30%;
}

.card-presentation>*{
    margin: 2px;
}

.card:hover{
    background-color: rgba(43, 43, 43,0.2);
}
.gamemode-icon{
    width: 90%;
}