@import url('https://fonts.googleapis.com/css?family=Roboto');
*{
    font-family: 'Roboto';
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;}

.nav>h1{
    align-content:flex-start;
}

.nav-items{
    list-style: none;
    display: inline-flex;
}
.nav-items > li{
    padding: 5px;
}

.nav-items > li:hover{
    color: rgb(99, 141, 231);
}

.header-logo{
    width: 60px;
}

.left-nav{
    display: flex;
    align-items: center;
}

.left-nav>*{
    padding-left: 5px;
}

.footer{
    background-color: rgb(77, 77, 77);
    color: rgb(255, 255, 255);
}

.main-content{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content{
    flex-grow: 1;
}

.content>div{
    padding-left: 20px;
}